<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<%= form_with(url: movies_path, method: "get") do %>
  <div class="field">
    <%= label_tag :actor, "Search by Actor:" %>
    <%= text_field_tag :actor, params[:actor] %>
  </div>
  <div class="actions">
    <%= submit_tag "Search" %>
  </div>
<% end %>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
